<p><%= t "devises.hello" %> <%= @resource.email %>!</p>

<p><%= t "devises.request_change_password" %></p>

<p><%= link_to t("devises.change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "devises.ignore_message" %></p>
