<% provide :title, t(".title") %>
<div class="row py-5 border-top border-bottom justify-content-space-around">
  <div class="col-md-4">
    <div class="row align-items-center">
      <div class="col-md-3 pr-0"><label><%= t ".product" %></label></div>
      <div class="col-md-8 px-0">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :name_cont, class: "form-control", placeholder: t(".search_products") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= search_form_for @q, class: "row" do |f| %>
      <div class="form-group col-md-4">
        <div class="dropdown">
          <div class="btn btn-info"><%= t("ransack.search_category") %></div>
          <div class="dropdown-content">
            <%= render partial: "shared/category", locals: {zone: @categories} %>
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="dropdown">
          <div class="btn btn-info"><%= t("ransack.sort") %></div>
          <div class="dropdown-content">
            <%= search_form_for @q do |f| %>
              <div>
                <%= sort_link(@q, :created_at, t("ransack.sort_newest"), default_order: :desc) %>
              </div>
              <div>
                <%= sort_link(@q, :price, t("ransack.sort_price"), default_order: :asc) %>
              </div>
              <div>
                <%= sort_link(@q, :name, t("ransack.sort_name"), default_order: :asc) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>

<% if @products.any? %>
  <ul class="product-list grid-products equal-container row">
    <% @products.each do |hash| %>
      <div class="col-md-12">
        <div class="row align-items-center">
          <h3 class="col-md-6 font-weight-bold"><%= hash[:category] %></h3>
          <%= link_to products_path(category: "#{hash[:products].first.category_id}"), class: "d-block col-md-6 text-right" do %>
            <%= t ".view_all" %>
          <% end %>
        </div>
      </div>

      <%= render hash[:products] %>
      <% if hash[:pagy] %>
        <div class="col-md-12">
          <%== pagy_bootstrap_nav hash[:pagy] %>
        </div>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <div class="col-12 mt-3">
    <div class="alert alert-danger">
      <%= t ".no_products" %>
    </div>
  </div>
<% end %>

